{% extends 'base.html.twig' %}

{% block body %}
            <div class="container">
                <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          <img id="profilePicture" class="img-thumbnail" src={{ asset('uploads/images/userfotos/' ~ user.image) }}>
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" style="border-bottom:1px solid black">
                            {% if user.roles[0] == "ROLE_TEACHER" %}
                                <h2>Docent: {{ user.fullName }}</h2>
                            {% elseif user.roles[0] == "ROLE_STUDENT" %}
                                <h2>Leerling: {{ user.fullName }}</h2>
                            {% endif %}
                          </div>
                            <hr>
                          <ul class="container details">
                            <li><p><span class="fa fa-phone" style="width:50px;"></span>{{ phone_number_format(user.phoneNumber, 'INTERNATIONAL') }}</p></li>
                            <li><p><span class="fa fa-envelope" style="width:50px;"></span><a href={{ "mailto:" ~ user.email }}>{{ user.email }}</a></p></li>
                            {% if user.schoolClass and user.roles[0] == "ROLE_TEACHER" %}
                                <li><p><span class="fa fa-users" style="width:50px;"></span>SLB-er van klas {{ user.schoolClass.name }}</p></li>
                            {% elseif user.roles[0] == "ROLE_STUDENT" %}
                                <li><p><span class="fa fa-users" style="width:50px;"></span>Zit in klas {{ user.schoolClass.name }}</p></li>
                                <li><p><span class="fa fa-file-text" style="width:50px;"></span>{{ user.description }}</p></li>
                            {% endif %}
                          </ul>
                      </div>
                  </div>
                </div>
{%  endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile.css') }}">
{% endblock %}