{% extends 'base.html.twig' %}

{% block body %}
    <div class="container content">
        <div class="text-center">
            {% if is_granted("ROLE_TEACHER") %}
                <p class="table-header">Collega's</p>
            {% else %}
                <div class="row">
                    <a onclick="window.location = '/profile/{{ slb.slug }}'" class="clickable"> Je SLB-er is {{ slb.fullName }}</a>
                </div>
                <p class="table-header">Klasgenoten</p>
            {% endif %}
            <hr>
        </div>
        <div class="row">
            <div class="col-sm">
                <table class="table text-left">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Photo</th>
                            <th>Naam</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users  %}
                        <tr class="clickable" onclick="document.location = 'profile/{{ user.slug }}';">
                            <th scope="row">{{ loop.index }}</th>
                            <td><img width=150 height=100 class="img-thumbnail" src="{{ "uploads/images/userfotos/" ~ user.image }}"></td>
                            <td>{{ user.fullName }}</td>
                            <td> <a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}