{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_TEACHER") %}
        <div class="container">
            <div class="text-center">
                <p class="table-header">Klas {{ class.name }}</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table class="table text-left">
                        <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Photo</th>
                            <th>Naam</th>
                            <th>
                                {% if app.user.id == class.slb.id %}
                                    Opmerking
                                {% else %}
                                    Email
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in class.students  %}
                            <tr class="clickable">
                                <th scope="row">{{ loop.index }}</th>
                                <td onclick="document.location = '../../profile/{{ student.slug }}';">
                                    <img width=150 height=100 class="img-thumbnail" src="{{ asset("uploads/images/userfotos/" ~ student.image) }}">
                                <td onclick="document.location = '../../profile/{{ student.slug }}';">{{ student.fullName }}</td>
                            <td>
                                {% if app.user.id == class.slb.id %}
                                    <form id={{ loop.index}} method="POST">
                                        <textarea form={{ loop.index }} class="form-control" name="description">{{ student.description }}</textarea><br>
                                        <input type="hidden" name="student_id" value={{ student.id }}>
                                        <input type="submit" value="Opslaan" class="btn btn-action">
                                    </form>
                                {% else %}
                                    <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}

